body
  font-family 'Lato', sans-serif, Arial
  background-color #1e5270
  color #273b47

form
  display flex
  flex-direction column
  min-width 400px
  background #f6f6f6
  padding 20px
  margin-bottom 32px

  h2 
    font-size 24px
    font-weight bold
    text-align center

  input
    color #273b47 
    border 1px solid #e9e9e9
    box-sizing border-box
    width 100%
    border-radius 5px
    padding 8px
    margin-bottom 10px
    font-size .9rem
  
  button
    color #fff
    cursor pointer
    font-size .9rem
    padding 11px 0.8em 12px 0.8em
    border-radius 5px
    background linear-gradient(to left, #95ca3e 0%, #95ca3e 50%, #85c638 100%)
    box-shadow 0 1px 1px 0 #58902d
    margin-top 10px

.container
  min-height 100vh
  display flex
  justify-content space-around
  align-items center
  flex-wrap wrap
   
